<div class="container">
  <!-- Bouton pour ajouter une nouvelle tâche -->
  <div class="row">
    <div class="col-md-6 mb-0">
      <nav class="p-2 border border-secondary rounded">
        <button class="btn btn-primary d-flex align-items-center" (click)="handleNewTask()">
          <span>New Task</span>
          <i class="bi bi-plus ml-auto"></i>
        </button>
      </nav>
    </div>

    <div class="col-md-6">
      <div class="input-group mt-2">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" (input)="filterTasks()">
        <button class="btn btn-outline-secondary">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Liste des tâches -->
  <div class="card mt-3" *ngIf="displayedTasks.length > 0; ">
    <div class="card-header">List Task</div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Task Name</th>
          <th>Contenu</th>
          <th>Project</th>
          <th>User</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of displayedTasks">
          <td>{{ t?.id }}</td>
          <td>{{ t?.name }}</td>
          <td>{{ t?.contenu }}</td>
          <td>{{ t?.project?.name }}</td>
          <td>{{ t?.user?.firstname }}</td>
          <td class="d-flex actions-cell">
            <button (click)="handleDeleteTache(t)" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</button>
            <button (click)="editTask(t)" class="btn btn-primary"><i class="bi bi-pencil"></i> Edit</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Formulaire pour Ajouter et Mettre à jour une tâche -->
  <div class="card mt-3" *ngIf="showForm">
    <div class="card-header">{{ editingTask ? 'Update Task' : 'New Task' }}</div>
    <div class="card-body">
      <form [formGroup]="taskFormGroup" (ngSubmit)="handleTaskAction()">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" formControlName="name" class="form-control">
          <small *ngIf="taskFormGroup.controls['name'].invalid && taskFormGroup.controls['name'].touched" class="text-danger">
            Name is required and should be at least 4 characters long.
          </small>
        </div>

        <div class="mb-3">
          <label class="form-label">Contenu</label>
          <input type="text" formControlName="contenu" class="form-control">
          <small *ngIf="taskFormGroup.controls['contenu'].invalid && taskFormGroup.controls['contenu'].touched" class="text-danger">
            Contenu is required and should be at least 4 characters long.
          </small>
        </div>

        <!-- Select for Project -->
        <div class="mb-3">
          <label class="form-label">Project</label>
          <select formControlName="project" class="form-control">
            <option *ngFor="let project of projects" [ngValue]="project">{{ project.name }}</option>
          </select>
          <small *ngIf="taskFormGroup.controls['project'].invalid && taskFormGroup.controls['project'].touched" class="text-danger">
            Project is required.
          </small>
        </div>

        <!-- Select for User -->
        <div class="mb-3">
          <label class="form-label">User</label>
          <select formControlName="user" class="form-control">
            <option *ngFor="let user of users" [ngValue]="user">{{ user.firstname }}</option>
          </select>
          <small *ngIf="taskFormGroup.controls['user'].invalid && taskFormGroup.controls['user'].touched" class="text-danger">
            User is required.
          </small>
        </div>

        <button [disabled]="taskFormGroup.invalid" class="btn btn-info" type="submit">{{ editingTask ? 'Update' : 'Save' }}</button>
        <button class="btn btn-secondary" type="button" (click)="cancelEdit()">Cancel</button>
      </form>
    </div>
  </div>

  <!-- Pagination -->
  <mat-paginator [length]="tasks.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="handlePageChange($event)">
  </mat-paginator>
</div>
